@font-face {
    font-family: 'Pixel';  
    src: url('Imagenes_Contenido/8-BIT WONDER.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('Imagenes_Contenido/wmremove-transformed.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: block;
    height: 100vh; 
    margin: 0;
    font-family: 'Pixel', sans-serif;
    color: #d9d9d9;
    position: relative;
    margin-top: 230px;
    background-attachment: fixed;
}

/*Menu*/
header nav {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background: linear-gradient(to right, #64105782, rgba(12, 83, 79, 0.511));
    position: fixed;
    z-index: 1000;
}

header nav .logo img {
    display: flex;
    width: 120px;
    height: 120px;
    box-shadow: 0 4px 6px #da0ced00;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease-in-out; 
}

header nav .logo img:hover {
    box-shadow: 0 4px 6px #da0ced;
}

header nav p {
    display: block;
    width: 50px;
    margin-right: 10%;
}

.menu {
    display: flex;
    list-style: none;
    gap: 4vw; 
    margin-right: 26%;
}

.menu li a {
    display: flex;
    text-decoration: double;
    color: #d9d9d9;
    font-weight: bold;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
}

.menu li a:hover {
    color:  #ED370C;
}

.menu-toggle {
    justify-content: space-between;
    font-size: 30px;
    display: none;
    color: #d9d9d9;
    position: absolute;
    z-index: 1002;
    cursor: pointer;
}

.menu.active {
    display: block;
    opacity: 1;
    visibility: visible;
}


/* Hero Section */

.Hero {
    text-align: center;
    padding: 50px;
    color: #d9d9d9;
    font-family: 'Pixel', sans-serif;
}

.hero-btn {
    background-color: #64105788;
    color: #d9d9d9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #0c534f86;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #d9d9d9;
}

.modal-content input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 80%;
}

.modal-content button {
    background-color: #64105788;
    color: #d9d9d9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #0c534f86;
}

.close {
    color: #d9d9d9;
    font-size: 24px;
    float: right;
    cursor: pointer;
}

/*News Section*/

.News {
    position: relative;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1;
}

.News h2 {
    cursor:default;
    color: #d9d9d9; 
    padding: 10px;
    font-size: 30px;
    font-family: 'Pixel', sans-serif;
    transition: color 0.3s ease-in-out;
}

.News h2:hover {
    color:  #ED370C;
}

.introNews {
    cursor:default;
}

/*Carousel section*/

.carrusel {
    width: 100%;
    overflow: hidden;
}

.carrusel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-images {
    display: flex;
    gap: 20px;
}

.carrusel-images img {
    width: 100%;
    max-width: 300px;
    border: solid transparent;
    border-radius: 5%;
    transition: transform 0.3s ease, border 0.3s ease;
}

.carrusel-images img:hover {
    transform: scale(1.1); 
}

/*Games section*/

.GamesSection {
    position: relative;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1;
}

.GamesSection h2 {
    cursor: default;
    color: #d9d9d9; 
    padding: 10px;
    font-size: 30px;
    font-family: 'Pixel', sans-serif;
    transition: color 0.3s ease-in-out;
}

.GamesSection h2:hover {
    color:  #ED370C;
}

.GamesSection .Games{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    z-index: 1;
}


.Games .btn{
    display: flex;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.container-imageRt, .container-imageRc, .container-imageI, .container-imageSt, .container-imageSh, .container-imageAd, .container-imageF, .container-imageT, .container-imageGN {
    position: relative;
    width: 300px; 
    height: 170px; 
    overflow: hidden;
    border-radius: 5%; 
    box-shadow: 0 4px 6px rgba(0, 255, 255, 0.402);
}
 
.imagesRt, .imagesRc, .imagesI, .imagesSt, .imagesSh, .imagesAd, .imagesF, .imagesT, .imagesGN {
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    gap: 10px;
    width: 700px; 
}

.image-box {
    display: flex;
    align-items: center;
    background-color: #646363; 
    padding: 10px;
    width: 100%; 
    border-radius: 10px;
    transition: all 0.5 ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 255, 255, 0.402);
}

.image-box:hover {
    transform: scale(1.1);
}

.image-box img {
    width: 200px; 
    height: 20%;
    max-height: 100px; 
    object-fit: cover; 
    margin-right: 10px;
    border-radius: 10px;
}

.image-box .text {
    flex: 1;
    text-align: right;
}

.container-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.173);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    text-align: right;
    padding: 3px;
    transition: all 0.3s ease-in-out;
}

.container-text p {
    padding: 5px;
    border: solid;
    border-color: hsla(0, 0%, 100%, 0.703);
    background-color: rgba(255, 255, 255, 0.703);
    border-radius: 5px;
}

.container-text:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.479);
}

.back-button {
    background-color: #64105788;
    color: #d9d9d9;
    border: none;
    padding: 10px 20px;
    font-family: 'Pixel', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0c534f86;
}

.GamesSection .Games .images {
    display: flex;
    width: 300px;
    height: 170px;
    border-radius: 5%;
}

/*Information*/

.Information {
    position: relative;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1;
}

.Information h2 {
    cursor: default;
    color: #d9d9d9; 
    padding: 10px;
    font-size: 30px;
    font-family: 'Pixel', sans-serif;
    transition: color 0.3s ease-in-out;
}

.Information h2:hover {
    color:  #ED370C;
}

.info {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.container-info {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
    min-width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.slide img {
    width: 100%;
    display: block;
}

.overlay {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}

.slide:hover .overlay {
    bottom: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.extends-information p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    cursor: default;
    color: #d9d9d9; 
    padding: 10px;
    font-size: 30px;
}

.extends-information h4 {
    cursor: default;
    color: #d9d9d9; 
    padding: 10px;
    font-size: 30px;
    font-family: 'Pixel', sans-serif;
    transition: color 0.3s ease-in-out;
}

.extends-information .INFO1 {
    position: relative;
    z-index: 5;
}

.extends-information .INFO2 {
    position: relative;
    z-index: 6;
}

.extends-information .INFO3 {
    position: relative;
    z-index: 7;
}

/* Support */

.Support {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 255, 255, 0.4);
}

.Support h2 {
    cursor: default;
    text-align: center;
    color: #d9d9d9;
    font-size: 30px;
    font-family: 'Pixel', sans-serif;
    transform: all 0.3s ease-in-out;
}

.Support h2:hover {
    color:#ED370C;
}

.support-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.support-form label {
    color: #d9d9d9;
    font-weight: bold;
}

.support-form input, .support-form select, .support-form textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: #d9d9d9;
    font-family: 'Pixel', sans-serif;
    resize: none; 

}

.submit-button {
    font-family: 'Pixel', sans-serif;
    background-color: #64105788;
    color: #d9d9d9;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0c534f86;
}

/* US */

.US {
    position: relative;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 255, 255, 0.4);
}

.US h2 {
    cursor: default;
    text-align: center;
    color: #d9d9d9;
    font-size: 30px;
    font-family: 'Pixel', sans-serif;
    transition: color 0.3s ease-in-out;
}

.US h2:hover {
    color: #ED370C;
}

.US p {
    color: #d9d9d9;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    font-family: Arial, sans-serif;
}

/* Transition */

html {
    scroll-behavior: smooth; 
}

#US, #News {
    scroll-margin-top: 250px; 
}

#Hero {
    scroll-margin-top: 350px; 
}

#Games {
    scroll-margin-top: 100px; 
}

#Information {
    scroll-margin-top: 50px; 
}

/* Footer */

.footer {
    background: linear-gradient(to right, #64105782, rgba(12, 83, 79, 0.511));
    color: #d9d9d9;
    text-align: center;
    padding: 15px;
    font-family: 'Pixel', sans-serif;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #ED370C;
}

/* Moviles */

@media screen and (max-width: 768px) {
    
    .menu-toggle {
        display: flex;
        position: relative;
    }

    .menu {
        display: none; 
        position: absolute; 
        top: 50px; 
        right: 20px; 
        background: rgba(0, 0, 0, 0.7); 
        padding: 20px;
        border-radius: 10px;
        flex-direction: column; 
        z-index: 999; 
    }
    
    .menu li {
        margin: 10px 0;
    }

    .menu.active {
        display: block;  
    }
    
    header nav p {
        display: none;
    }
    

    nav {
        background-color: #0000007a;
    }

    header nav .logo img {
        display: flex;
        width: 80px;
        height: 80px;
        box-shadow: 0 4px 6px #da0ced00;
        border-radius: 50%;
        object-fit: cover;
    }

    .extends-information p {
        font-family: Cambria;
        font-size: 15px;
        cursor: default;
        color: #d9d9d9; 
        padding: 10px;
    }

    .Hero {
        padding: 30px;
    }

    .GamesSection, .News, .Information, .Support, .US {
        margin: 5%;
        padding: 10px;
    }

    .carrusel-images img {
        max-width: 100%;
        height: auto;
    }

    .container-imageRt, .container-imageRc, .container-imageI {
        width: 100%;
        height: auto;
    }

    .support-form input, .support-form textarea {
        width: 96%;
    }

    .image-box .text {
        display:none;
        flex: 1;
        text-align: right;
    }

    .image-box {
        width: 205px;
    }

    .imagesRt, .imagesRc, .imagesI, .imagesSt, .imagesSh, .imagesAd, .imagesF, .imagesT, .imagesGN {
        align-items: center;
    }

    .social-links {
        flex-direction: column;
        gap: 5px;
    }
}